body{
    margin: 0;
    padding: 0;
}
.hero{
    display: flex;
     justify-content: space-between;
     padding: 40px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
ul{
    display: flex;
    flex-direction: row;
    padding: 10px;
   
}
ul li{
    padding: 10px;
}
li{
    list-style: none;
}

li a{
color: black;
}


#home{
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}

#home .text-format{
    display: flex;
    flex-direction: column;
  
}


#about{
    background-color: rgb(0, 55, 255);
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 200px;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}
#contact{
    background-color: rgb(119, 255, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 200px;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}
