body{
    margin: 0;
    padding: 0;
    background-color: aliceblue; 
    
}
.hero{
    display: flex;
     justify-content: space-between;
     padding: 40px; 
}
nav{
 

}
ul{
    display: flex;

   
   
}
ul li{
    padding: 10px;
}
li{
    list-style: none;
}

li a{
color: black;
}

.kotak{
    border: 10px solid black;
    padding: 100px;
    margin: 100px;
}
